# IDE 配置
.idea/
.trae/
.vscode/

# 虚拟环境
venv/

# 编译/缓存
__pycache__/
*.pyc
*.pyo

# 系统垃圾
.DS_Store
Thumbs.db

# C/C++ 编译产物
*.o
*.obj
*.exe
*.out
*.so
*.dll
*.a
*.lib

# CMake 构建目录
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/